.container {
  display: flex;
  justify-content: center;
}

.card {
  width: 200px;
  padding: 1rem;
  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  text-shadow: 0px 0px 5px gray;
}

.cardImg {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  background-color: white;
  border-radius: inherit;
  box-shadow: inherit;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.red {
  background-color: red;
}

.red:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  filter: drop-shadow(0 0 20px orange);
}

.blue {
  background-color: blue;
}

.blue:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  filter: drop-shadow(0 0 20px lightblue);
}

.green {
  background-color: green;
}

.green:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  filter: drop-shadow(0 0 20px lightgreen);
}

.yellow {
  background-color: yellow;
}

.yellow:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  filter: drop-shadow(0 0 20px lightgoldenrodyellow);
}

.black{
  background-color: black;
}

.black:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  filter: drop-shadow(0 0 20px white);
}